.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: white;
}

.for-logo {
    color: #ff385c;
}

.help {
    color: black;
}

/* .mat-stroked-button {
    width: 85px !important;
    border-radius: 30px;

} */

.mdc-button--outlined{
    width: 86px;
    height: 48px;
    border-radius: 24px;
   
}

.admin { 
    width: 32px;
    height: 32px;
    display: flex!important;
    align-items: center;

}

