mat-card {
    width: 400px;
    margin: 2% auto;
    text-align: left;
    background-color: rgb(222, 222, 222);

}

mat-card h2 {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(38, 38, 38);
    padding: 30px 0px 15px;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.example-form-field {
    margin-right: 20px;
}

.example-container {
    margin: auto;
    padding: 10px 0px 35px;
}

